--extra-index-url https://download.pytorch.org/whl/cpu
python-dotenv
flask
wtforms==2.2.1
flask_wtf
boto3
minio
wtforms
torch
torchaudio
faster-whisper
pyannote.audio
tqdm
sortedcontainers
packaging
pandas