--extra-index-url https://download.pytorch.org/whl/cpu
python-dotenv
Werkzeug==2.2.2
flask==2.2.2
wtforms==2.2.1
flask_wtf==1.1.1
boto3
minio
torch
torchaudio
faster-whisper
pyannote.audio
tqdm
sortedcontainers
packaging
pandas