{% extends 'base.html' %}
{% block header %}
	<h2>My Files</h2>
{% endblock %}


{% block content %}

<ul>
    {% for file in files %}
        <li><a href="{{ url_for('download', filename=file) }}">{{ file }}</a></li>
    {% endfor %}
</ul>

    <form action="{{ url_for('clean_workspace') }}" method="post" enctype="multipart/form-data" class="form">
        <button type="submit" class="btn btn-danger btn-lg" onclick="loading();">
            <i style="padding-right: 10px;" class="fa fa-trash-o"></i> Clean workspace</button>
    </form>

{% endblock %}